body {
  margin: 0;
}

.orderline-page-wrapper {
  background-color: #F0F5F3;
  height: 902px;
  width: 1800px;
  margin-left: -20px;
  margin-top: -20px;
  padding-right: 40px;
  padding-bottom: 20px;
}

.orderline-header {
  display: flex;
  padding: 10px 20px;
  align-items: center;
}

.search-bar {
  padding: 10 16px;
  width: 300px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
}


.orderline-content-card {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  margin-top: 25px;
  padding-left: 100px;
}

.orderline-title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
}

.orderline-container {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
}

.order-card {
  width: 280px;
  height: 400px;
  border-radius: 12px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease;
  /* padding-bottom: 20px; */
}

.order-top {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
}

.order-info-left {
  display: flex;
  gap: 10px;
}

.order-icon {
  width: 24px;
  height: 24px;
  margin-top: 4px;
}

.order-type-box {
  padding: 10px;
  border-radius: 8px;
  text-align: right;
  font-size: 12px;
  font-weight: 500;
}

.order-type {
  font-weight: bold;
}

.order-eta {
  font-size: 11px;
}

.order-middle {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
  margin: 10px 0;
  height: 160px;
  font-weight: 600;
}

.order-middle ul {
  margin-top: 6px;
  padding-left: 15px;
}

.order-footer-status {
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
  color: white;
  border-radius: 10px;
  width: 100px;
  margin-left: 60px;
}

.footer-served {
  background-color: #86e3ab;
}

.footer-takeaway {
  background-color: #9faeb7; 
}

.footer-dinein {
  background-color: #e3c497; 
}

.order-hourglass,
.order-check {
  margin-left: 6px;
}

.order-items{
  font-weight: bold;
  font-size: 20px;
}

.order-top{
  font-size: 15px;
  font-weight: 600;
}

.order-id{
  font-weight: bold;
  font-size: 20px;
  
}

ul.order-items-list {
  list-style-type: none;
}

.order-items-list{
  margin-left: 40px;
}

.order-items,.order-time,.order-table{
 margin-left: -30px;
}